*{
    margin: 0;
    box-sizing: border-box;

}

body{
    font-family: 'Raleway', sans-serif;
    min-height: 600px;
    padding: 80px 0;
    background-image: linear-gradient(to top, #2980b9 0%, #2980b9 100%);
    background-color: #2980b9;
    background-repeat: no-repeat;
    display: flex;
}

.main{
    margin: auto;
    width: 90%;
    max-width: 1000px;
    background-image: linear-gradient(to left, rgba(255,255,255,0.472), rgba(255,255,255,0.356) );
    overflow: hidden;
    padding: .7em;
    border-radius: 1em;
    display: grid;
    grid-auto-rows: max-content;
    grid-template-columns: repeat(auto-fit, minmax(310px,1fr));
    gap: .6em;
    animation: mostrar 1.5s ease-in-out;
}

@keyframes mostrar {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.main_figure{
    overflow: hidden;
    border-radius: lem;
    background-color: #fff;
    display: flex;
}
.main_img{
    margin: auto;
    width: 80%;
    max-width: 60vw;

}

.main_contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5em;
    padding: 3em .7em;
    text-align: center;
}

.main_title{
    font-size: 2.3rem;   
}

.main_paragraph{
    margin: .3em 0;

}

.main_form{
    display: grid;
    justify-content: center;
    gap: 1.5em;
}

.main_input{
    width: 80%;
    max-width: 500px;
    outline: none;
    border: none;
    padding: 1em;
    font: inherit;
    border-radius: .6m;
}

.main_input--send{
    background-color: #840000;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.main_social{
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    grid-auto-columns: max-content;
    gap: 2em;
}

.main_link{
    border: 1px solid #fff;
    border-radius: 40px;
    padding: .6em 1.5em;
}

.main_link:hover{
    background-color: #fff;
}

.main_icon{
    width: 80px;
    height: 80px;
}