.landing-page {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.landing-page .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 1360px;
  height: 3004px;
  position: relative;
}

.landing-page .div-2 {
  position: absolute;
  width: 1369px;
  height: 714px;
  top: 0;
  left: 0;
}

.landing-page .overlap-group {
  position: relative;
  height: 714px;
}

.landing-page .image {
  width: 1360px;
  height: 714px;
  top: 0;
  left: 0;
  position: absolute;
  object-fit: cover;
}

.landing-page .rectangle {
  position: absolute;
  width: 1369px;
  height: 646px;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(23.65, 23.65, 23.65, 0.77) 0%, rgba(23.65, 23.65, 23.65, 0) 100%);
}

.landing-page .nav-bar {
  position: absolute;
  width: 1368px;
  height: 101px;
  top: 0;
  left: 0;
}

.landing-page .overlap {
  position: relative;
  width: 1360px;
  height: 101px;
  background-color: #497ff3;
}

.landing-page .logo {
  position: absolute;
  width: 340px;
  height: 67px;
  top: 19px;
  left: 50px;
}

.landing-page .overlap-group-2 {
  position: relative;
  width: 338px;
  height: 67px;
}

.landing-page .climatech-logo-text {
  position: absolute;
  width: 256px;
  top: 9px;
  left: 82px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 45px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.landing-page .logo-climatech {
  position: absolute;
  width: 94px;
  height: 67px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.landing-page .text-wrapper {
  position: absolute;
  width: 166px;
  top: 36px;
  left: 492px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .text-wrapper-2 {
  position: absolute;
  width: 146px;
  top: 36px;
  left: 704px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .text-wrapper-3 {
  position: absolute;
  width: 109px;
  top: 36px;
  left: 896px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .iniciar-seccion {
  position: absolute;
  width: 163px;
  top: 36px;
  left: 1051px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .front-main-page {
  position: absolute;
  width: 1310px;
  height: 522px;
  top: 133px;
  left: 27px;
}

.landing-page .vectores {
  position: absolute;
  width: 570px;
  height: 408px;
  top: 204px;
  left: 163px;
}

.landing-page .overlap-2 {
  position: absolute;
  width: 1381px;
  height: 1738px;
  top: 1266px;
  left: -3px;
}

.landing-page .footer {
  position: absolute;
  width: 1374px;
  height: 180px;
  top: 1558px;
  left: 3px;
  background-color: transparent;
}

.landing-page .overlap-3 {
  position: relative;
  width: 1366px;
  height: 180px;
  background-color: #2759c6;
}

.landing-page .nosotros {
  width: 363px;
  top: 18px;
  left: 877px;
  font-size: 26px;
  text-align: center;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .CLIMATECH {
  position: absolute;
  width: 323px;
  height: 37px;
  top: 79px;
  left: 43px;
}

.landing-page .nosotros-2 {
  width: 125px;
  top: 35px;
  left: 528px;
  font-size: 24px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .nosotros-3 {
  width: 162px;
  top: 90px;
  left: 510px;
  font-size: 24px;
  text-align: center;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .facebook-logo {
  position: absolute;
  width: 89px;
  height: 89px;
  top: 86px;
  left: 814px;
}

.landing-page .section {
  position: absolute;
  width: 1367px;
  height: 433px;
  top: 1125px;
  left: 1px;
}

.landing-page .overlap-4 {
  position: relative;
  width: 1365px;
  height: 433px;
  background-color: #1f3667;
}

.landing-page .text-wrapper-4 {
  position: absolute;
  top: 44px;
  left: 509px;
  font-family: "Anton", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 65px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .img {
  width: 572px;
  height: 178px;
  top: 180px;
  left: 83px;
  position: absolute;
  object-fit: cover;
}


.landing-page .app-store {
  position: absolute;
  width: 572px;
  height: 178px;
  top: 180px;
  left: 708px;
  object-fit: cover;
}

.landing-page .overlap-wrapper {
  position: absolute;
  width: 1381px;
  height: 588px;
  top: 548px;
  left: 0;
}

.landing-page .overlap-5 {
  position: relative;
  width: 1360px;
  height: 588px;
  left: 3px;
  background-image: url(../images/rectangle-11.svg);
  background-size: 100% 100%;
}

.label {
  width: 288px;
  height: 90px;
}

.label .text-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  font-family: "Anton-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 60px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .text-wrapper-5 {
  position: absolute;
  top: 19px;
  left: 516px;
  font-family: "Anton", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 60px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .div-wrapper {
  position: absolute;
  width: 569px;
  height: 165px;
  top: 142px;
  left: 51px;
  background-color: #2a57b8;
  border-radius: 30px;
}

.landing-page .p {
  position: absolute;
  width: 518px;
  top: 25px;
  left: 29px;
  font-family: "Antonio", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 45px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .overlap-6 {
  position: absolute;
  width: 569px;
  height: 165px;
  top: 359px;
  left: 51px;
  background-color: #2a57b8;
  border-radius: 30px;
}

.landing-page .text-wrapper-6 {
  position: absolute;
  width: 538px;
  top: 31px;
  left: 9px;
  font-family: "Antonio", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 45px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .overlap-group-3 {
  position: absolute;
  width: 569px;
  height: 165px;
  top: 142px;
  left: 731px;
  background-color: #2a57b8;
  border-radius: 30px;
}

.landing-page .text-wrapper-7 {
  position: absolute;
  width: 518px;
  top: 19px;
  left: 31px;
  font-family: "Antonio", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 45px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .overlap-7 {
  position: absolute;
  width: 569px;
  height: 165px;
  top: 359px;
  left: 731px;
  background-color: #2a57b8;
  border-radius: 30px;
}

.landing-page .text-wrapper-8 {
  position: absolute;
  width: 518px;
  top: 25px;
  left: 26px;
  font-family: "Antonio", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 45px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .overlap-group-wrapper {
  position: absolute;
  width: 1367px;
  height: 552px;
  top: 0;
  left: 0;
}

.landing-page .group-wrapper {
  position: relative;
  width: 1360px;
  height: 552px;
  left: 3px;
  background-image: url(../images/rectangle-5.svg);
  background-size: 100% 100%;
}

.landing-page .group {
  width: 1247px;
  left: 57px;
  position: absolute;
  height: 451px;
  top: 54px;
}

.landing-page .line {
  position: absolute;
  width: 4px;
  height: 181px;
  top: 1557px;
  left: 722px;
}

.landing-page .twitter-logo {
  position: absolute;
  width: 91px;
  height: 91px;
  top: 1642px;
  left: 1016px;
}

.landing-page .group-2 {
  position: absolute;
  width: 92px;
  height: 92px;
  top: 1641px;
  left: 1235px;
}

.landing-page .img-wrapper {
  position: absolute;
  width: 1360px;
  height: 552px;
  top: 714px;
  left: 0;
  background-image: url(../images/rectangle-6.svg);
  background-size: 100% 100%;
}

.landing-page .group-3 {
  width: 1242px;
  left: 64px;
  position: absolute;
  height: 451px;
  top: 54px;
}
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

header{
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo_img {
  position: absolute;
  width: 94px;
  height: 67px;
  top: 0;
  left: 0;
  object-fit: cover;
}
.logo_text {
  position: absolute;
  width: 256px;
  top: 9px;
  left: 82px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 45px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  user-select: none;
}
nav{
  background: #497ff3;
  height: 80px;
  width: 100%;
}

nav ul{
  float: right;
  margin-right: 20px;
}

nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: #fff;
  font-size: 20px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: capitalize;
  font-family: 'Open Sans', sans-serif; /* Utiliza 'Open Sans' como primera opción y luego una fuente genérica sans-serif como respaldo */
}


li a:hover{
  background: orange;
  transition: 5s;
}

section.banner {
  background: linear-gradient(to left, #1a1f2c, #29303d, #161a26);
  padding: 3rem 0;
}
.containerB{
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.col1{
  display: flex;
  align-items: center;
  justify-content: center;
}
.imgBanner {
  width: 100%;
  border-radius: 40px; 
}

.col2{
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
h1{
  font-size: 2rem;
  font-family: "Inter";
  color: #ffffff;
}
#txtBanner{
  margin: 2rem 0;
  font-family: "Inter";
  color: #ffffff;
  font-size: 1.3rem;
  line-height: 2rem;
  text-align: justify;
}

.btnBanner{
  background: #497ff3;
  font-family: inter;
  color: #fff;
  padding: 10px 20px;
  border-radius: 25px;
  text-decoration: none;
}

/*SECCIÓN SERVICIOS*/
.services{
  font-family: inter;
  padding:  3rem 0;
}
.subServices{
  text-align: center;
  padding-bottom: 2rem;
  color: #4c4c4c;
}
.containerS{
  width: 90%;
  margin: 0 auto;
  display: flex;
  grid-template-columns: repeat(auto-fit,minmax(18rem, 1fr));
  grid-gap: 2rem;
}
.img_containers {
  width: 100%;
  border-radius: 40px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 1); /* Sombra suave */
}


.boxS{
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 55px 5px rgb(0 0 0 /6%);
  background-color:  #739df8;
  color: #ffffff;
}

.boxS img{
  width: 100px;
}
h3{
  color: #ffffff;
  margin: 10px 0;
}
.boxS p{
  text-align: center;
}

/*SECCIÓN mision*/
.mision{
  background: linear-gradient(to left, #1a1f2c, #29303d, #161a26);
  padding:  3rem 0;
}
.submision{
  text-align: center;
  padding-bottom: 2rem;
  color: #840000;
}
.containerP{
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(18rem, 1fr));
  grid-gap: 2rem;
}
.boxM{
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 55px 5px rgb(0 0 0 /6%);
}
.boxM img{
  width: 100px;
}
.boxM h3{
  color: #4c4c4c;
  margin: 10px 0;
}
.boxM p{
  text-align: center;
}
/*CONTACTO*/
.contenedor,
.wave.contenedor{
  width: 80%;
  max-width: 1000px;
  overflow: hidden;
  margin: auto;
  padding: 0 0 80px 0;
}
.contenedor{
  padding: 80px 0;
}
.form{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.input{
  background: transparent;
  border: 0;
  color: black;
  outline: none;
  border: 1px solid black;
  padding: 20px 10px;
}
.input::placeholder{
  color: black;
  font-family: 'Raleway', sans-serif;
}
input[type="text"],
input[type="email"]{
  display: inline-block;
  width: 49%;
  margin-bottom: 30px;
}
.form textarea{
  width: 100%;
  margin-bottom: 15px;
}
input[type="submit"]{
  width: 120px;
  text-align: center;
  padding: 14px 0;
}



/*Pie de Pagina - Footer*/
footer{
  background-color: #333;
  color: #fff;
  padding: 20px;
  margin-top: 50px;
  text-align: center;

}

.mision{
  background: #7f7fd5; 
  background: -webkit-linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4); 
  background: linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(18rem,1fr));
  grid-gap: 1rem;

}

.boxM{
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 55px 5px rgb(0 0 0 / 6%);
}

.boxM h1{
  color: #4c4c4c;
  margin: 10px 0;

}

.boxS p{
  font-family: "inter", sans-serif;
  text-align: center;
}

